.api-title {
    font-size: 2.5em;
    margin-top: -1em;
    color: #fff;
}

.api-sub-title-btn {
    margin-top: 3em;
    margin-bottom: 1.5em;
    color: #222;
    background-color: #77d970;
    border: none;
    border-radius: 5px;
    padding: .7em 1em;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}

.api-description {
    font-size: 1.2em;
    margin-top: -1em;
    max-width: 60%;
    color: #eee;
}

.api-info-container {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5em;
}

.api-info {
    font-size: 1.2em;
    color: #eee;
    font-weight: 500;
}

.api-endpoints-container {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1em;
}

.api-info-button {
    background-color: #77d970;
    color: #222;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: .7em 1em;
    font-size: 1.2em;
    cursor: pointer;
    transition: all .2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2em;
}

.api-info-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75);
}

.lock-icon {
    font-size: 1.5em;
    /* padding-top: .2em; */
}



@media (max-width: 768px) {
    .api-info-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1em;
        margin-top: 0em;
    }

    .api-endpoints-container {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1em;
        gap: 1em;
    }

    .api-title {
        font-size: 2em;
        margin-top: .1em;
        color: #fff;
    }

    .api-description {
        font-size: 1.1em;
        max-width: 80%;
        color: #eee;
    }

    .api-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (prefers-color-scheme: light) {
    .api-title {
        color: #222;
    }

    .api-description {
        color: #222;
    }

    .api-info-button {
        background-color: #77d970;
        color: #222;
    }

    .api-info-button:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    }
    

    .api-info {
        color: #222;
    }
}