.help-container {
    width: 70%;
    margin: auto;
    margin-top: 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    line-height: 1.5em;
}

.help-inner-container {
    width: 80%;
    margin: auto;
    margin-top: 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
}

.help-header-text {
    font-size: 1.9em;
    margin-bottom: 1em;
}

.help-header-desc-text {
    font-size: 1.3em;
    margin-bottom: 2em;
}

.help-sub-header-text-center {
    font-size: 1.8em;
    margin-bottom: 2em;
    margin-top: 1em;
    text-align: center;
}

.small {
    font-size: 1.3em;
    margin-top: 1.5em;
}

.help-sub-header-text {
    font-size: 1.7em;
    margin-bottom: 1em;
    margin-top: 1em;
}

.help-list {
    margin-left: -2em;
    margin-bottom: 2em;
    list-style-type: none;
    font-size: 1.2em;
}

.help-step {
    font-family: 'Impact', sans-serif; /* or your preferred font */
    font-size: 3em;
    font-weight: bold;
    margin-right: 1em;
    padding-left: 0.5em; /* added padding to prevent cutting off */
    color: #eee;
}

.help-instruction {
    padding: 1em;
    text-align: left;
    transform: skewX(20deg);
}

.help-list-item {
    display: flex;
    margin-bottom: 2em;
    align-items: center;
    text-align: left;
    border-radius: 1em;
    transform: skewX(-20deg);
    color: #eee;
    transition: all 0.3s ease;
    height: 5em;
    border-bottom: 2px solid #eee;
    border-top: 2px solid #eee;
}

/* added specific classes for stair effect */
.help-list-item.step1 {
    margin-left: -5%;
    margin-right: 15%;
}

.help-list-item.step2 {
    margin-left: 0%;
    margin-right: 10%;
}

.help-list-item.step3 {
    margin-left: 5%;
    margin-right: 5%;
}

.help-list-item.step4 {
    margin-left: 10%;
}


.help-list-item-bold {
    margin-right: .1em;
    font-size: 1.3em;
}

.help-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto;
    gap: 3em 1em;
    justify-items: center;
    align-items: center;
    margin-bottom: 5em;
}

.help-grid-item {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2em;
    text-align: center;
    justify-content: center;
    width: 80%;
    grid-column-end: span 2;
    padding: 1em;
}

.help-grid-item:nth-child(4) {
    grid-column-start: 2;
    grid-row-start: 2;
}

.help-grid-item:nth-child(5) {
    grid-column-start: 4;
    grid-row-start: 2;
}

.help-grid-item-bold {
    font-size: 1.8em;
    margin-right: .1em;
}

.venmo-icon {
    width: 2.5em;
    height: 2.5em;
    margin-bottom: 2.5em;
    margin-top: -1em;
}

.venmo-icon:hover {
    transform: scale(1.1);
}

.semibold {
    font-weight: 600;
}

@media (max-width: 768px) {
    .help-container {
        width: 100%;
    }

    .help-inner-container {
        width: 90%;
    }

    .help-header-text {
        font-size: 1.8em;
        margin-bottom: .6em;
    }

    .help-header-desc-text {
        font-size: 1.2em;
        margin-bottom: 1.5em;
    }

    .help-sub-header-text-center {
        font-size: 1.6em;
    }

    .help-sub-header-text {
        font-size: 1.5em;
    }

    .help-list {
        font-size: 1.2em;
    }

    .help-list-item {
        transform: skewX(0deg);
    }

    .help-instruction {
        font-size: 1em;
        transform: skewX(0deg);
    }

    .help-step {
        font-size: 2.5em;
        margin-right: .1em;
    }

    .help-list-item.step1 {
        margin-left: 0%;
        margin-right: 0%;
    }
    
    .help-list-item.step2 {
        margin-left: 0%;
        margin-right: 0%;
    }
    
    .help-list-item.step3 {
        margin-left: 0%;
        margin-right: 0%;
    }
    
    .help-list-item.step4 {
        margin-left: 0%;
    }

    .help-list-item { 
        height: 10em;
        width: 100%;
    }

    .help-list-item-bold {
        margin-right: .1em;
        font-size: 1.2em;
    }

    .help-grid {
        display: flex;
        flex-direction: column;
    }

    .help-grid-item {
        font-size: 1.1em;
    }

    .help-grid-item-bold {
        font-size: 1.6em;
        margin-right: .1em;
    }
}

@media (prefers-color-scheme: light) {
    .help-container {
        color: #000000;
    }

    .help-header-text {
        color: #000000;
    }

    .help-header-desc-text {
        color: #000000;
    }

    .help-sub-header-text-center {
        color: #000000;
    }

    .help-sub-header-text {
        color: #000000;
    }

    .help-list-item {
        color: #000000;
        border-bottom: 2px solid #222;
        border-top: 2px solid #222;
    }

    .help-grid-item-bold {
        color: #000000;
    }

    .help-step {
        color: #222;
    }

    .help-instruction {
        color: #222;
    }
}