.input-buttons-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;
}

.input-buttons-container-left {
    margin: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
}

.input-buttons-container-left button:hover::before {
    width: 85%;
}

.input-buttons-container-right {
    justify-content: flex-end;
}

.input-buttons-text {
    font-size: 1em;
    /* border: 1px solid blue; */
}

@media (max-width: 768px) {
    .input-buttons-container {
        width: 95%;
        margin: 1em 0;
        flex-direction: column;
        /* align-items: flex-start; */
    }

    .input-buttons-text {
        font-size: .8em;
    }

    .input-buttons-container-left {
        gap: .5em;
    }
}