.signup-container {
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}

.signup-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: .5em;
    gap: 1rem;
}

.input-fields {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login-btn:hover::before {
    width: 95%;
}

.input-fields input {
    padding: .6rem;
    width: 25rem;
    font-size: 1.25rem;
    border: 1px solid #666;
    border-radius: 4px;
    background-color: transparent;
    color: #eee;
}

.input-fields input:focus {
    outline: none;
    border: 1px solid #bbb;
    border-radius: 4px;
    background-color: transparent;
    color: #eee;
}

.error-message {
    color: #ff3f5c;
    font-size: 1.2rem;
    margin-bottom: .2rem;
}

@media screen and (max-width: 768px) {
    .signup-container {
        margin: 1rem;
    }

    .signup-buttons {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .input-fields input {
        padding: .6rem;
        width: 20rem;
        font-size: 1.2rem;
        border: 1px solid #666;
        border-radius: 4px;
        background-color: transparent;
        color: #eee;
    }

    .input-fields input:focus {
        outline: none;
        border: 1px solid #bbb;
        border-radius: 4px;
        background-color: transparent;
        color: #eee;
    }
}
