.style-slider {

    margin: auto;
    display: flex;
    margin-left: -30px;

    flex-direction: column;
    /* align-items: center; */
}
  
.style-slider-header {
    display: flex;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #ccc;
    align-items: center;
    font-size: 1em;
}

.faded-subheader {
    color: #999;
    font-size: 1.2rem;
    font-weight: medium;
    margin-right: .5rem;
}
  
.style-slider-header h3 {
    text-align: center;
    margin-bottom: 10px;
}
  
.chevron {
    transition: transform 0.3s ease-in-out;
    transform: rotate(180deg);
    width: 23px;
    height: 23px;
}
  
.chevron.chevron-open {
    transform: rotate(0deg);
}
  
.chevron.chevron-closed {
    transform: rotate(-180deg);
}

.slider-container {
    transition: max-height 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .style-slider {
        margin-top: -20px;
        margin-bottom: 20px;
    }

    .chevron {
        width: 20px;
        height: 20px;
    }
}

@media (prefers-color-scheme: light) {
    .style-slider-header {
        color: #333;
        font-weight: bold;
        font-size: 1em;
    }
}