.text-input {
    position: relative;
    width: 70%;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1em;
}

.input-container {
    position: relative;
    border: 1px solid #444;
    width: 100%;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: 500;
    background-color: transparent;
    resize: none;
    backdrop-filter: blur(500px);
    z-index: 1;
    padding: 10px;
    line-height: 1;
    /* overflow: hidden; */
    min-height: 20px;
    white-space: pre-wrap;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

.close-btn {
    position: absolute;
    top: -2.5em;
    right: 0em;
    padding: 4px 6px;
    border: none;
    color: #eee;
    cursor: pointer;
    font-size: .7em;
    font-weight: bold;
    background-color: #ff3f5c;
    border-radius: 50%;
}

.replace-btn {
    position: absolute;
    top: -2.5em;
    right: 2.9em;
    padding: 4px 6px;
    border: none;
    color: #eee;
    cursor: pointer;
    font-size: .7em;
    font-weight: bold;
    background-color: #77d970;
    border-radius: 50%;
}

.arrow-icon {
    width: 1.2em;
    height: 1.2em;
}

.x-icon {
    width: 1.2em;
    height: 1.2em;
}
  
.text-input__textarea {
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    color: #eee;
    background-color: transparent;
    border: none;
    resize: none;
    overflow: hidden;
}

.request-textarea {
    font-size: 1.1em;
}

.text-input__textarea:focus {
    outline: none;
}

.text-input__textarea:empty:before {
    content: attr(data-placeholder);
    color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
}
  
.input-suggestion {
    position: relative;
    display: inline-block;
}

.tab {
    font-size: .8em;
    font-weight: bold;
    color: #eee;
    background-color: #444;
    padding: 6px 10px;
    border-radius: 5px;
    margin-right: 5px;
}
  
.suggestion {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.5);
}

.synonym-box-outer {

}

.synonym-box {
    padding: 5px;
    background-color: #333;
    border-radius: 5px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.synonym-text {
    font-size: 1.2em;
    color: #eee;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: #444;
}

.synonym-text:hover {
    background-color: #61965d;
}

@media (max-width: 768px) {
    .text-input {
        width: 85%;
        /* max-width: 90%; */
        margin-top: -1.5em;
        flex-direction: column;
        margin-left: -1em;
    }

    .input-container {
        font-size: 1em;
        padding: 8px;
        line-height: 1;
    }

    .suggestion {
        font-size: 1.2em;
        margin-left: 2px;
    }

    .close-btn {
        top: -2.8em;
    }
    
    .replace-btn {
        top: -2.8em;
    }

    .input-container {
        margin-top: 1.8em;
    }
}