.text-input {
    position: relative;
    width: 80%;
    margin-top: 1.5em;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1em;
}

.button-container {
    display: flex;
    gap: 1em;
}

.input-header {
    /* border: 1px solid red; */
    position: absolute;
    top: -3em;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    /* justify-content: baseline; */
    width: 100%;
}

.input-header__text {
    font-size: 1.1em;
    font-weight: 700;
    color: #eee;
    opacity: .8;
}

.input-container {
    position: relative;
    border: 1px solid #444;
    width: 100%;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: 500;
    background-color: transparent;
    resize: none;
    backdrop-filter: blur(500px);
    z-index: 1;
    padding: 10px;
    line-height: 1;
    margin-top: .5em;
    min-height: 20px;
    white-space: pre-wrap;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

.input-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

.arrow-icon {
    width: 1.2em;
    height: 1.2em;
    color: #eee;
}

.feather {
    color: #fff;
}

.feather:hover {
    color: #222;
}

.refresh-icon {
    width: 1.2em;
    height: 1.2em;
}

.x-icon {
    width: 1.2em;
    height: 1.2em;
}
  
.text-input__textarea {
    font-size: 1.1em;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    color: #eee;
    background-color: transparent;
    border: none;
    resize: none;
    overflow: hidden;
}

.request-textarea {
    font-size: 1.1em;
}

.text-input__textarea:focus {
    outline: none;
}

.text-input__textarea:empty:before {
    content: attr(data-placeholder);
    color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
}
  
.input-suggestion {
    position: relative;
    display: inline-block;
}

.tab {
    font-size: .8em;
    font-weight: bold;
    color: #eee;
    background-color: #444;
    padding: 6px 10px;
    border-radius: 5px;
    margin-right: 5px;
}
  
.suggestion {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.5);
}

.synonym-box {
    padding: 5px;
    background-color: #333;
    border-radius: 5px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.synonym-text {
    font-size: 1.2em;
    color: #eee;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: #444;
}

.synonym-text:hover {
    background-color: #61965d;
}

@keyframes slide-in {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes shrink {
    0% {
        width: 100%;
    }
    100% {
        width: 50%;
    }
}

.input-container.shrink {
    width: 50%;
    animation: shrink 0.5s forwards;
    transition: width 0.5s ease-in-out;
}

.input-container.slide-in {
    width: 50%;
    animation: slide-in 0.5s forwards;
}


@media (max-width: 768px) {
    .text-input {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: -.1em;
    }

    .input-header {
        width: 100%;
    }

    .input-container {
        width: 90%;
        font-size: 1em;
        padding: 8px;
        line-height: 1;
    }

    .suggestion {
        font-size: 1.2em;
        margin-left: 2px;
        margin-top: 0px;
    }

    .input-container {
        margin-top: 2.2em;
    }

    .text-input {
        flex-direction: column-reverse;
    }

    .input-container.shrink {
        width: 90%;
        animation: none;
    }

    .input-container.slide-in {
        width: 90%;
        animation: none;
        margin-top: 1.5em;
    }
}

@media (prefers-color-scheme: light) {
    .input-container {
        border: 1px solid #ccc;
    }

    .text-input__textarea {
        color: #222;
    }

    .input-header__text {
        color: #222;
    }

    .suggestion {
        color: rgba(0, 0, 0, 0.5);
    }

    .synonym-text {
        color: #222;
    }

    .feather {
        color: #222;
    }
}