.text-input {
    position: relative;
    width: 70%;
    max-width: 70%;
    max-height: 80vh;
    margin: 0 auto;
    border: 1px solid #444;
    border-radius: 5px;
    overflow: auto
}


.input-container {
    font-size: 1.2em;
    font-weight: 500;
    background-color: transparent;
    resize: none;
    backdrop-filter: blur(500px);
    z-index: 1;
    padding: 10px;
    line-height: 1;
    overflow: hidden;
    min-height: 20px;
    white-space: pre-wrap;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}
  
.text-input__textarea {
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    color: #eee;
    background-color: transparent;
    border: none;
    resize: none;
    overflow: hidden;
}

.text-input__textarea:focus {
    outline: none;
}

.text-input__textarea:empty:before {
    content: attr(data-placeholder);
    color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
}
  
.input-suggestion {
    position: relative;
    display: inline-block;
}
  
.suggestion {
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 768px) {
    .text-input {
        width: 90%;
        max-width: 90%;
    }

    .input-container {
        font-size: 1em;
        padding: 8px;
        line-height: 1;
    }

    .suggestion {
        font-size: 1.2em;
        margin-left: 2px;
    }
}